<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @posts.each do |post| %>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <% if post.images.attached? %>
          <% post.images.each do |image| %>
            <%= image_tag(image, class: "w-full h-64 object-cover") %>
          <% end %>
        <% end %>
        <div class="p-4">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 bg-gray-300 rounded-full flex items-center justify-center mr-2">
              <span class="text-sm font-semibold text-gray-700"><%= post.user.username[0].upcase %></span>
            </div>
            <h5 class="text-sm font-semibold text-gray-800"><%= post.user.username %></h5>
          </div>
          <p class="text-sm text-gray-600"><%= post.description %></p>
        </div>
        <p>
            <%=post.likes.count%>
            <% unless post.likes.find_by(user_id: current_user.id) %>
              <%= button_to "Лайк", post_likes_path(post.id) %>
            <%else%>
              <%= button_to "Дизлайк", post_like_path(post_id: post.id, id: post.likes.find_by(user_id: current_user.id)), method: :delete%>
            <% end %> 
        </p>
      </div>
    <% end %>
  </div>
</div>