<div class="h-full px-3 grid place-items-center">
  <%= form_with(model: @post, class: "space-y-4 w-full") do |f| %>
    <div class="flex flex-col">
      <%= f.label :description, class: "text-sm font-medium text-gray-700" %>
      <%= f.text_area :description, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div class="flex flex-col">
      <%= f.label :images, "Images", class: "text-sm font-medium text-gray-700" %>
      <%= f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/png", class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100" %>
    </div>

    <div>
      <%= f.submit "Редактировать", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  <% end %>
</div>