<% content_for :title, "Создание поста" %>

<% if @post.errors.any? %>
  <%= render(MessageComponent.new(errors: @post.errors.messages))%>
<% end %>

<div class="h-full px-3 grid place-items-center">
  <%= form_with(model: @post, class: "space-y-6 w-full") do |f| %>
    <!-- Поле для описания -->
    <div class="flex flex-col">
      <%= f.label "Описание", class: "text-sm font-medium text-gray-700 mb-1" %>
      <%= f.text_area :description, class: "mt-1 p-3 w-full border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent placeholder-gray-400", placeholder: "Добавьте описание..." %>
    </div>

    <!-- Поле для загрузки изображений -->
    <div class="flex flex-col">
      <%= f.label :images, "Фотографии", class: "text-sm font-medium text-gray-700 mb-1" %>
      <%= f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/png", class: "mt-1 p-2 w-full border border-gray-300 rounded-lg shadow-sm file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" %>
    </div>

    <!-- Кнопка отправки -->
    <div>
      <%= f.submit "Опубликовать", class: "w-full py-3 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
    </div>
  <% end %>
</div>