<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Final Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="preload" href="https://code.jquery.com/jquery-3.6.0.min.js" as="script">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" as="script">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js" as="script">
    
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Лайки асинхронно %>
    <script defer>
      async function toggleLike(postId, isLiked){
        const url = isLiked ? `/posts/${postId}/unlike` : `/posts/${postId}/like`;
        const method = isLiked ? 'DELETE' : 'POST';

        console.log(url, method)

        try {
          const response = await fetch(url, {
            method: method,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json',
              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
            },
            credentials: 'same-origin'
          });

          const data = await response.json();

          // Обновляем счетчик лайков
          document.getElementById(`like-count-${postId}`).innerText = `${data.likes_count}`;

          const likeButton = document.getElementById(`like-button-${postId}`);
          const svg = document.getElementById(`svg-button-${postId}`);

          likeButton.setAttribute('onclick', `toggleLike(${postId}, ${data.liked})`);
          color = data.liked ? "#ff0000" : "#000"
          svg.setAttribute('fill', color);

        } catch (error) {
      }
      }
    </script>
  </head>

  <body class="bg-white max-w-lg mx-auto h-screen flex flex-col">
    <%= render(HeaderComponent.new) %>

    <%= render(MessageComponent.new(notice: notice, alert: alert)) %>

    <main class="flex-grow flex-col items-center justify-center">
      <%= yield %>
    </main>

    <%= render(FooterComponent.new) %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
    <script>
      $(document).ready(function(){
        if ($('.slider').length) {
          $('.slider').imagesLoaded().always(function() {
            $('.slider').slick({
              dots: true,
              infinite: true,
              speed: 300,
              slidesToShow: 1,
              adaptiveHeight: true
            });
          });
          }
        });
    </script>
  </body>
</html>
